
@{
    ViewBag.Title = "Gift_Wish";
}

<h2>Your List</h2>
<p>
    You have your list of gifts and wishes, connect to others and let them be your Santa.  
</p>
<table>
    <tr>
        <td style="vertical-align: bottom"><p>You have been </p></td>
        <td style="vertical-align: bottom"><h3>Naughty</h3></td>
    </tr>
</table>
<table class="table table-responsive table-condensed">
    <tr>
        <td class="text-center">1.</td>
        <td><input class="form-control" type="text" /></td>
        <td class="text-center">6.</td>
        <td><input class="form-control" type="text" /></td>
    </tr>
    <tr>
        <td class="text-center">2.</td>
        <td><input class="form-control" type="text" /></td>
        <td class="text-center">7.</td>
        <td><input class="form-control" type="text" /></td>
    </tr>
    <tr>
        <td class="text-center">3.</td>
        <td><input class="form-control" type="text" /></td>
        <td class="text-center">8.</td>
        <td><input class="form-control" type="text" /></td>
    </tr>
    <tr>
        <td class="text-center">4.</td>
        <td><input class="form-control" type="text" /></td>
        <td class="text-center">9.</td>
        <td><input class="form-control" type="text" /></td>
    </tr>
    <tr>
        <td class="text-center">5.</td>
        <td><input class="form-control" type="text" /></td>
        <td class="text-center">10.</td>
        <td><input class="form-control" type="text" /></td>
    </tr>
    <tr>
        <td colspan="4" class="text-right"><button class="btn">Update</button></td>
    </tr>
</table>

