
@{
    ViewBag.Title = "Index";
}

<h2>The List</h2>

<table class="table table-responsive table-condensed">
    <thead>
        <tr>
            <th style="width: 100px; text-align: center">Naughty?</th>
            <th>Name</th>
            <th>Gift or Wish</th>
        </tr>
    </thead>
    <tr>
        <td></td>
    </tr>
</table>

