@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron gold">
    <h1>Santa's List</h1>
    <hr />
    <p>
        Remember the days when you have to remember what your kids want for Christmas or there birthday.  Santa's wants your kids to be good all year, but they only good during
        the month of December.  If there was an app or a website that could keep track your kids, spouse, and whoever is on your list.
    </p>
</div>

<div class="jumbotron topGifts text-center silver">
    <ul class="nav nav-tabs text-center">
        <li><a href="#">Most</a></li>
        <li><a href="#">Toys & Games</a></li>
        <li><a href="#">Movies & TV</a></li>
        <li><a href="#">Electronics</a></li>
        <li><a href="#">Books</a></li>
        <li><a href="#">Video Games</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">Stuffers</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-md-4 silver info">
        <h2>Getting started</h2>
        <p>
            Sounds like a great idea.<br />
            Send your kids a Santa invite to FaceBook, Twitter, Instagram, and whatever social media site.  And stop knowing what they are doing and what they want.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 gold info">
        <h2>Link to others</h2>
        <p>
            You have your own list of gifts and wishes, and sometimes you wish that your other half would know what you want for your Christmas or birthday or other special occasions.
            Link your lists to others.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 silver info">
        <h2>The Plan</h2>
        <p>
            There are many stops and many ways to get gifts and wishes done.  Calendars, maps, sales, and connect to online markets.  You gotta go get them, who will.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>